.box {
    display: flex;
    justify-content: center;
  }
  
  .list {
    list-style: none;
    align-items: center;
    width: 60%;
  }
  
  .listItem {
    max-height: 250px;
    margin: 4px;
  }
  .listItem img {
    height: 200px;
    padding: 10px 5px;
    border-radius: 16px;
  }
  
  .listItem :last-child{
    padding :5px ;
  }
  
  .listItem .addMovie {
    display: none;
  }
  
  .listItem:hover .addMovie {
    display: inline-flex;
  }
  
  .listItem:hover {
      background-color: #F5F5F5;
  }
   @media(max-width : 450px){
     .list {
       width: 100%;
     }
   }
  
