.movie_item{
    list-style: none;
    margin-top: 16px;
    min-width: 345px;

}
.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.root{
    max-width: 500px;
    margin-right: 16px;
}
.media{
    height: 140px;
}
.avatar{
    background-color: #f44336;
}
.cardActions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  @media(max-width : 400px){
      .root{
          max-width: 300px;
      }
      .container{
          min-width: 300px;
      }
  }